<mat-card>
  <mat-card-header>
    <mat-card-title><h2>My Queeroes</h2></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ul class="queeroes">
      <li *ngFor="let queer of queeroes">
        <a routerLink="/detail/{{queer.id}}">
          <span class="badge">{{ queer.influence }}</span>{{ queer.name }} - {{ queer.region }}
        </a>
      </li>
    </ul>
  </mat-card-content>
  <mat-card-actions>
    <button *ngIf="queeroes.length < 8"
             mat-raised-button (click)="addCharacter()" color="accent">Add Character</button>
  </mat-card-actions>
</mat-card>

<app-queer-detail [queer]="selectedQueer"></app-queer-detail>